<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
	<li><a href="/"</a>Home</a></li>
	<li><a href="/about"</a>About</a></li>
	<li><a href="/contact"</a>Contact</a></li>
    </ul>
    <p>Welcome to <%= title %></p>
    <a href="mailto:wasatchcode@gmail.com?Subject=WebSite" target="_top">Contact us</a>
   <p>801 550 1201 </p>
  </body>
</html>
