<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Wasatch Code | Development and Design</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="sixteen columns">
			<div class="nav">
			<ul>
			<li><a href="mailto:wasatchcode@gmail.com">Contact Us</a></li>
			</ul>
			</div>
			<div class="logo">
			<a href="/"><img src="images/wc-text.png" width="367px" height="23px"></a>
			</div>
			<h5>We make web & mobile apps.</h5>

			<hr />
		</div>
		<div class="one-third column">
			<h4>Wastach Code</h4>
			<p> We are a small highly efficient web development and design firm. Passionate about what we 	build for our clients. We work with you through every step towards engineering the best site possible for you and the people that will visit your site. We understand how important it is to have a site that is easy to use and easy to find. We use the fastest and most recent technologies to build you a site that you will<strong> LOVE!</strong> </p>
		</div>
		<div class="one-third column">
			<h4>WC's Core Principles</h4>
			<ul class="square">
				<li><strong>Fast and Responsive Prototyping</strong>: We get your site up fast. By
				doing this you have a working site to use and make changes to.</li>
				<li><strong>Iterative Development</strong>: We believe in constant interation. You will see your site grow and grow as features are added daily.</li>
				<li><strong>Friendly</strong>: We love working with people. We love getting to know people. We love to have fun. And we will have fun building your site!</li>
			</ul>
		</div>
		<div class="one-third column">
			<h4>Code and Design</h4>
			<p>We are always working on developing our skills in web design and development. 
			   Using the newest and fastest technologies is a priority for us. We source all our code using
			   github. We have worked with large corporations, entreprenuers and small business. We will work with you and always make sure we are using the best technology for the project at hand. Ruby on Rails, Node.js, HTML5, Wordpress. Yep, we have done all that, even python. We love it all. </a>.</p>
		</div>
	<div class="sixteen columns footer">
		<ul class="footer-list">
			<li>Ruby on Rails</li>
			<li>Node.js</li>
			<li>Github</li>
			<li>Design</li>
			<li>User Experience</li>
			<li>Wordpress</li>
		</ul>
	</div>


	</div>

	</div>	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
