body
  padding: 20px
  padding-bottom: 40px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

div.row
  margin-left: -50px

.container
  width: 960px

.navigation, .pitch, .section1, .section2, .faq, .footer
  padding: 10px 0px 10px 0px;

.video
  border: 1px dotted
  text-align: center
  height: 124px

.node, .rails, .design
  text-align: center
  border: 1px dotted   
  height: 40px
.section1, .section2, .faq
  border: 1px dotted
a
  color: #00B7FF
h1
  font-family: Dakota
  float: left
ul
  list-style-type: none
  padding: 15px
  float: right
li
  float: left
  padding-right: 10px

ul li a:hover
  border-bottom: solid 3px #57c6ff
li a

  padding-left: 10px
 
a
  text-decoration: none
p
  clear:both;


